/Diagrram day 1.mwb
/Diagrram day 2.mwb
/Example
/SQL Day 1  Afterrrnoon.sql
/SQL Day 1_Morning.sql
/SQL Day 2_Afterrnoon.sql
/SQL Day 2_Morning.sql
/SQL Day 3_Afternoon.sql
/SQL Day 3_Morning.sql
/SQL Records.sql
/SQL Task.sql
/tbl_members.sql
/tbl_songs.sql